.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res {
  color: rgb(92, 0, 92);
  font-size: 35px;
  text-align: center;
}
.buttons {
  margin-top: 50px;
  display: flex;
  gap: 100px;

  button {
    background: #0086e0;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #0086e0;
    font-size: 1.5rem;
    padding: 15px;
  }
}
.searchResults {
  display: flex;
  justify-content: center;
}
.search {
  margin-top: 100px;
  display: flex;
  width: 1500px;
  flex-wrap: wrap;
  gap: 140px;
}
.card {
  img {
    width: 260px;
    height: 390px;
    cursor: pointer;
  }
  h3 {
    width: 260px;
    font-size: 24px;
  }
}
