.wrapper {
  margin-top: 100px;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 80px;
}
.text {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: rgb(68, 0, 255);
}
.card {
  position: relative;
  width: 280px;
  cursor: pointer;
}
.title {
  font-size: 20px;
  color: black;
}
.params {
  display: flex;
  justify-content: space-between;
  
  .year {
    font-size: 18px;
  }
}
.poster {
  width: 260px;
  border-radius: 4px;
  margin-bottom: 11px;
  // &:hover {
  //   width: 270px;
  //   transition: width 0.4s;
  //   border-radius: 4px;
  // }
}

.rating {
  position: absolute;
  z-index: 11;
  width: 45px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
  font-size: 17px;
  top: 0;
  left: 0;
  background-color: rgb(231, 67, 67);
}



//only for toprated
.pages {
  margin-top: 18px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  gap: 45px;

}
.pageNumber {
  font-size: 27px;
  
}


@media screen and (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
