.wrapper {
}
.bannerimg {
  object-fit: contain;
  width: 100%;
  position: relative;
}
.arrows {
  position: absolute;
  z-index: 10;
  right: 100px;
  top: 1100px;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  button {
    background-color: lightblue;
  }
}
.numbers {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.numbersActive {
  color: lightblue;
}

.watch {
  position: absolute;
  z-index: 10;
  left: 100px;
  top: 1000px;

  h3 {
    font-size: 32px;
    margin-bottom: 35px;
    color: #fff;
  }

  button {
    background: #0086e0;
    color: #fff;
  }
}

@media screen and (max-width: 1900px) {
  .arrows {
    top: 800px;
  }
  .watch {
    top: 800px;
  }
}

@media screen and (max-width: 1600px) {
  .arrows {
    top: 700px;
  }
  .watch {
    top: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .arrows {
    top: 300px;
  }
  .watch {
    top: 500px;
  }
}
